[Desktop Entry]
Name=Google Tasks
Name[pt]=Tarefas do Google
Name[sv]=Google-uppgifter
Name[uk]=Завдання Google
Name[x-test]=xxGoogle Tasksxx
Comment=Access your Google Tasks from KDE
Comment[pt]=Aceda às suas tarefas da Google a partir do KDE
Comment[sv]=Kom åt dina Google-uppgifter från KDE
Comment[uk]=Доступ до ваших записів завдань Google з KDE
Comment[x-test]=xxAccess your Google Tasks from KDExx
Type=AkonadiResource
Exec=akonadi_googletasks_resource
X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.todo
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googletasks_resource
