[Desktop Entry]
Name=Google Calendars
Comment=Access your Google Calendars from KDE
Comment[pt]=Aceda aos seus calendários da Google a partir do KDE
Comment[sv]=Kom åt dina Google-kalendrar från KDE
Comment[uk]=Доступ до ваших календарів Google з KDE
Comment[x-test]=xxAccess your Google Calendars from KDExx
Type=AkonadiResource
Exec=akonadi_googlecalendar_resource
X-Akonadi-MimeTypes=text/calendar,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecalendar_resource
